/*body{
    cursor:url("./cursor/HaloMCC.cur"),auto;
}*/
body{
    background-image:url("./img/greece2.jpg");
    /*background-repeat:no-repeat;*/
    background-size:cover;
}
h1{
    color:yellowgreen;
    font-size:50px;
    font-style:italic;
}
#myCanvas{
    border:3px;
    border-style:solid;
    background-color:white;
}
.draw_container{
    display:grid;
    grid-template-columns:50px 50px;
    grid-gap:10px;
    padding:10px;
    position:absolute;
    left:1050px;
    top:150px;
}
.draw_container > div{
    display:inline-block;
    
}
.container{
    width:400px;
    height:250px;
    background:#ccc;
    border:4px solid #333;
}
input#ranCheck { 
    width: 15px; 
    height: 15px; 
} 
#input-font{
    width:150px;
    height:30px;
    position:absolute;
    left:1050px;
    top:650px;
}
#input-size{
    width:150px;
    height:30px;
    position:absolute;
    left:1050px;
    top:700px;
}
#snoopy{
    position:absolute;
    left:1200px;
    top:200px;
}
#snoopyhouse{
    position:absolute;
    left:1300px;
    top:500px;
}
#ranCheck{
    position:absolute;
    left:105px;
    top:408px;
}
#sound{
    position:absolute;
    left:10px;
    top:750px;
}
#mute{
    position:absolute;
    left:10px;
    top:750px;
}


